<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Recipe Book</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <style>
        /* Make the image fully responsive */
        .carousel-inner img {
            width: 100%;
            height: 100%;
        }



    </style>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <!-- Navbar content -->

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- <a class="navbar-brand" href="#">Navbar</a>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="Home.html">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown link
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>

                        </div>
                    </li>
                </ul>
            </div>
        </nav>

        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

    </nav>

    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://res.cloudinary.com/duqszimh4/image/upload/c_fill,g_auto,h_250,w_970/b_rgb:000000,e_gradient_fade,y_-0.50/c_scale,co_rgb:ffffff,fl_relative,l_text:montserrat_25_style_light_align_center:Shop%20Now,w_0.5,y_0.18/v1562696872/001143cb-800_fsarrh.jpg"
                     alt="Smoothis" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="https://res.cloudinary.com/duqszimh4/image/upload/c_fill,g_auto,h_250,w_970/b_rgb:000000,e_gradient_fade,y_-0.50/c_scale,co_rgb:ffffff,fl_relative,l_text:montserrat_25_style_light_align_center:Shop%20Now,w_0.5,y_0.18/v1562695746/downtownmill_1_n8xz2z.jpg"
                     alt="Chicago" width="1100" height="500">
            </div>
            <div class="carousel-item">
                <img src="https://res.cloudinary.com/duqszimh4/image/upload/c_fill,g_auto,h_250,w_970/b_rgb:000000,e_gradient_fade,y_-0.50/c_scale,co_rgb:ffffff,fl_relative,l_text:montserrat_25_style_light_align_center:Shop%20Now,w_0.5,y_0.18/v1562702971/no-banana-smoothies_buwjr6.jpg"
                     alt="New York" width="1100" height="500">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>

    <!--Cards-->
    <br>
    <hr>
    <hr>
    <!--  <h2> first one item</h2>-->
    <!--  <p>Image at the top (card-img-top):</p>-->
    <!--<div class="row">-->

    <div class="card-columns " align="center">


        <div class="card" style="width:400px" >
                <img class="card-img-top"
                     src="https://res.cloudinary.com/duqszimh4/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1562701310/IGT-Triple-Berry-Smoothie-5-Ingredient-Paleo-Vegan-Gluten-Free-Dairy-Free-1.5_lfjuk9.jpg"
                     alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Triple Berry Smoothie</h4>
                    <p class="card-text">Preparation:10 minutes * processing:1 minute * yield 1 1/2 cups (360ml)</p>
                    <a href="TripleBerrySmoothie.html" class="btn btn-primary">Click</a>
                </div>
            </div>



        <br>
        <hr>
        <!--  <h2> Second one item</h2>-->

        <div class="card" style="width:400px" >
                <img class="card-img-top"
                     src="https://res.cloudinary.com/duqszimh4/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1562703642/refreshing-watermelon-juice-with-grapes-picture_hxiwxn.jpg "
                     alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Frozen Strawberry Grape Juice</h4>
                    <p class="card-text">Preparation:10 minutes *processing:40-45 seconds *yield:2 2/2 cups (600
                        ml)</p>
                    <a href="FrozenStrawberryGrapeJuice.html" class="btn btn-primary">Click</a>
                </div>

        </div>
        <br>
        <hr>
        <div class="w-100 d-none d-sm-block d-md-none">
            <!-- wrap every 2 on sm-->
        </div>
        <!--  <h2> Third one item</h2>-->

        <div class="card" style="width:400px" >
                <img class="card-img-top"
                     src="https://res.cloudinary.com/duqszimh4/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1562771065/milkshake_dhngld.jpg"
                     alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">MilkShake</h4>
                    <p class="card-text">Preparation:10 minutes * processing:15-20 second * yield 2 cups (480ml)</p>
                    <a href="MilkShake.html" class="btn btn-primary">Click</a>
                </div>
            </div>

        <br>
        <hr>
        <div class="w-100 d-none d-sm-block d-md-none">
            <!-- wrap every 3 on md-->
        </div>
        <!--  <h2> forth one item</h2>-->

        <div class="card" style="width:400px" >
                <img class="card-img-top"
                     src="https://res.cloudinary.com/duqszimh4/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1562774016/6106377674_3f8b12e4f1_b_fmascc.jpg "
                     alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Frozen Whisky Sour</h4>
                    <p class="card-text">Preparation:10 minutes * processing:30 second * yield 3 1/4 cups
                        (780ml)</p>
                    <a href="FrozenWhiskySour.html" class="btn btn-primary">Click</a>
                </div>
        </div>
        <br>
        <hr>
        <div class="w-100 d-none d-sm-block d-md-none">
            <!-- wrap every 2 on sm-->
        </div>

        <!--  <h2> Firth one item</h2>-->

        <div class="card" style="width:400px" >
                <img class="card-img-top"
                     src=" https://res.cloudinary.com/duqszimh4/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1562779428/strawberry-daiquiri-3-683x1024_rpuo0y.jpg"
                     alt="Strawberry Daiquiri" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Strawberry Diquiri</h4>
                    <p class="card-text">Preparation:10 minutes * processing:30 second * yield 3 1/4 cups
                        (780ml)</p>
                    <a href="FrozenWhiskySour.html" class="btn btn-primary">Click</a>
                </div>

        </div>
        <br>
        <hr>
        <div class="w-100 d-none d-sm-block d-md-none">
            <!-- wrap every 2 on sm-->
        </div>
        <!--  <h2> Sixth one item</h2>-->

        <div class="card" style="width:400px" >
                <img class="card-img-top"
                     src="https://res.cloudinary.com/duqszimh4/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1562779720/Kiwi-Margarita-9723-Copy-1_myn93n.jpg "
                     alt="Whole fruit margarita" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">Whole Fruit Margarita</h4>
                    <p class="card-text">Preparation:10 minutes * processing:30 second * yield 3 1/4 cups
                        (780ml)</p>
                    <a href="WholeFruitMargarita.html" class="btn btn-primary">Click</a>
                </div>

        </div>
        <br>
        <div class="w-100 d-none d-sm-block d-md-none">
            <!-- wrap every 2 on sm-->
        </div>


    </div>
    </div>
    <br>
</br>

<div class="card text-center">
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">Contact Us</h5>
        <p class="card-text"> If you have any questions, please feel free to contact us! </p>
        <a href="ContactUs.html" class="btn btn-primary">Click</a>
    </div>
    <div class="card-footer text-muted">
        Thank you for visiting!
    </div>
</div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


</body>
</html>
